---
import HeadSEO from '../components/HeadSEO.astro';
---

<!DOCTYPE html>
<html dir="ltr" lang="sk-SK">
	<head>
		<HeadSEO />
	</head>
	<body class="scroll-smooth font-satoshi bg-[#d1ced1aa] dark:bg-[#0d0d12]">
		<slot />
	</body>
</html>
<script is:inline src="./node_modules/preline/preline.js"></script>